/**************************************/
/**************** Root ****************/
/**************************************/
:root {
  --documentation: white;
  --navbar: white;
}

/**************************************/
/*************** Sidebar **************/
/**************************************/
.sidebar {
  border: none;
  background-color: #35495d;
}

.sidebar ul li h2 {
  color: white;
}

.sidebar ul li ul li a {
  color: white;
}